{% extends '../../layouts/default.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static "styles/UI/Input/Input.css" %}>
    <link rel="stylesheet" href={% static "styles/UI/Button/Button.css" %}>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section class="registration">
        <div class="container">
            <h1 class="title title_registration">{{ title }}</h1>
            {% include "../../UI/Forms/Form.html" with form=form %}
        </div>
    </section>
{% endblock %}

{% block scripts%}
    <script type='module' src={% static 'interface/imask.js' %}></script>
    <script type='module' src={% static 'interface/phoneMask.js' %}></script>
{% endblock %}