{% load static %}

<div class="detail-page__wrapper">
    <h1 class="title title_detail-page">{{object.title}}</h1>
    <div class="detail-page-block">
        <div class="detail-page-block__wrapper">
            {% if object.photo %}
                <img src="{{object.photo.url}}" alt="detail new">
            {% else %}
                {% if object.price %}
                    <img src="{% static "images/services/default.png" %}" alt="detail service">
                {% else %}
                    <img src="{% static "images/news/default.png" %}" alt="detail new">
                {% endif %}
            {% endif %}
            <div class="detail-page-info">
                <div class="detail-page-info-block">
                    <div class="detail-page-categories">
                        <div class="detail-page-categories__title">Категории:</div>
                        {% for category in object.categories.all %}
                            <div class="detail-page-categories-item">{{category}}</div>
                        {% endfor %}
                    </div>
                    <div class="detail-page__date">{{object.date_create}}</div>
                </div>
                {% if object.price %}
                    <div class="detail-page-info-block">
                        <div class="detail-page__price">Цена услуги: <span data-number_split>{{object.price}}</span> ₽</div>
                    </div>
                {% endif %} 
            </div>
        </div>
        <div class="detail-page-block__description">{{object.description|linebreaks}}</div>
        {% if mainConfig.role == 'Client' %}
            {% if object.price %}
                {% if not inCart %}
                    <a href={% url 'addCart' services_id=object.id page='servicesDetail' %} class="button button_medium">
                        Добавить в корзину
                    </a>
                    {% else %}
                    <button class="button button_medium button_disable" type="submit">В корзине</button>
                {% endif %}            
            {% endif %}
        {% endif %}
    </div>
</div>