
<div class="orders-item">
    <div class="orders-item-info">
        <h3 class="title my-orders-item__title">Заказ №{{order.id}}</h3>
        <div class="orders-item-info-block">
            {% if mainConfig.role == 'Manager' or mainConfig.role == 'Admin' %}
                <div class="orders-item-info__user">Создан пользователем: <span>{{order.user}}</span></div>
            {% endif %}
            <div class="status status_{{order.status}}">{{order.get_status_display}}</div>
        </div>
    </div>
    <div class="orders-item-wrapper">
        {% for service in order.services.all %}
            <div class="orders-item-service">
                <div class="orders-item-service__title">{{service.title}}</div>
                <div class="orders-item-service-wrapper">
                    <div class="orders-item-service-block">
                        <img src={{service.photo.url}} alt="service image">
                        <div class="orders-item-service-block-wrapper">
                            <div class="orders-item-service__description" data-text_split_large>{{service.description}}</div>
                            <div class="orders-item-service__price">
                                Цена: <span data-number_split>{{service.price}}</span> ₽
                            </div>
                        </div>
                    </div>
                    <div class="orders-item-service-block">
                        <a href={{service.get_absolute_url}} class="button button_medium">Страница услуги</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="orders-item-options">
        <div class="orders-item-options__price">
            Общая сумма заказа: 
            <span data-number_split>{{order.get_total_cost}}</span> ₽
        </div>
        
        {% if mainConfig.role == 'Manager' or mainConfig.role == 'Admin' %}
            {% if order.status != 'COMPL' %}
                <div class="orders-item-options-block">  
                    {% if order.status == 'PAID' %}
                        <a href={% url 'inProgressOrder' orders_id=order.id %} class="button button_large">Перевести на выполнение</a>
                    {% endif %}
                    {% if order.status == 'IN_PR' %}
                        <a href={% url 'completeOrder' orders_id=order.id %} class="button button_medium">Завершить заказ</a>
                    {% endif %}
                    <a href={% url 'removeOrder' orders_id=order.id %}  class="button button_medium">Отменить заказ</a>
                </div>
            {% endif %}
        {% elif mainConfig.role == 'Client' %}
            {% if order.status != 'COMPL' %}
                <div class="orders-item-options-block">
                    {% if order.status == 'CREAT' %}
                        <a href={% url 'payOrder' orders_id=order.id %} class="button button_medium">Оплатить</a>
                        <a href={% url 'removeOrder' orders_id=order.id %}  class="button button_medium">Отменить заказ</a>
                    {% else %}
                        <a href='##' class="button button_disable">Для отмены оплаченного заказа обратитесь в поддержку</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}   
    </div>   
</div>