@import '../../default/variables.scss';

.detail-page{
    font-weight: 500;
    &__wrapper{
        padding: 30px 50px;
        border-radius: 20px;
        background: $gray-section-color;
    }
    &-block{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        &__wrapper{
            display: flex;
            margin-bottom: 40px;
            img{
                border-radius: 10px;
                margin-right: 20px;
                max-width: 600px;
            }
        }
        &__description{
            font-size: 18px;
            line-height: 24px;
            word-break: break-word;
        }
    }
    &-info{
        display: flex;
        width: 100%;
        justify-content: space-between;
        &-block{
            display: flex;
            flex-direction: column;
            &:nth-child(2){
                justify-content: flex-end;
                width: 50%;
            }
        }
    }
    &-categories{
        &__title{
            font-size: 20px;
        }
        &-item{
            color: $white-color;
            height: 24px;
            width: fit-content;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $button-default-color;
            border-radius: 14px;
            font-size: 14px;
            // margin-right: 20px;
            margin-top: 10px;
        }
    }
    &__date{
        font-size: 20px;
        font-weight: 600;
        margin-top: 40px;
    }
    &__price{
        font-size: 20px;
        font-weight: 600;
        span{
            font-size: 24px;
        }
    }
    &-post{
        margin-top: 30px;
    }
    .button{
        margin-top: 20px;
        a{
            color: $white-color;
        }
    }
}