@import '../../default/variables.scss';

.users-page{
    &-items{
        display: grid;
        grid-auto-columns: 0.8fr;
        gap: 20px;
    }
    &-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: $gray-section-color;
        padding: 20px;
        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            background: $blue-white-color;
            padding: 10px;
            min-height: 40px;
        }
        &__actions{
            margin-top: 20px;
            display: flex;
            align-items: center;
            a{
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &__first_name, &__last_name, &__second_name, &__phone, &__role{
            min-width: 150px;
            max-width: 200px;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__pannel{
        margin-bottom: 40px;
    }
}