@import '../../default/variables.scss';

textarea{
    width: calc(100% - 95px);
    border: 2px solid $gray-dark-color;
    padding: 14px 50px 14px 41px;
    border-radius: 23px;
    resize: none;
    height: calc(100% - 30px);
}

.text-area{
    width: calc(100% - 95px);
    border: 2px solid $gray-dark-color;
    padding: 14px 50px 14px 41px;
    border-radius: 23px;
    resize: none;
    height: calc(100% - 30px);
    &-wrapper{
        width: 580px;
        height: 216px;
    }
}