{% extends '../../layouts/default.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static "styles/components/CartItems/CartItems.css" %}>
    <link rel="stylesheet" href={% static "styles/UI/Button/Button.css" %}>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section class="cart">
        <div class="container">
            {% if cart.cart|length > 0 %}
                <h1 class="title title_cart">Корзина</h1>
            {% else %}
                <h1 class="title title_cart">Корзина пуста</h1>
            {% endif %} 
            {% if cart.cart|length > 0 %}
                <div class="cart-items">
                    {% for item in cart %}
                        {% include "../../components/CartItem/CartItem.html" with item=item.service %}
                    {% endfor %}
                    <div class="cart-items-wrapper">
                        <div class="cart-items__total">
                            Цена заказа: <span data-number_split>{{cart.get_total_price}}</span> ₽
                        </div>
                        <a href={% url 'createOrder' %} class="button button_medium">Оформить заказ</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type='module' src={% static 'interface/setSplits.js' %}></script>
{% endblock scripts %}