

<div class="users-page-item">
    <div class="users-page-item__wrapper">
        <div class="users-page-item__first_name">{{user.first_name}}</div>
        <div class="users-page-item__last_name">{{user.last_name}}</div>
        <div class="users-page-item__second_name">{{user.second_name}}</div>
        <div class="users-page-item__phone"><a data-link_phone>{{user.phone}}</a></div>
        <div class="users-page-item__role" data-translate_role>{{user.role}}</div>
    </div>
    <div class="users-page-item__actions">
        {% if not user.is_superuser %}
            <a href={% url 'userRemove' user_id=user.id %} class="button button_small">Удалить</a>
        {% endif %}
        {% if user.is_superuser %}
            <button class="button button_large button_disable">Невозможно изменять суперпользователя</button>
        {% else %}
            {% if user.role == 'ADM' %}
                <a href={% url 'userChangeRole' user_id=user.id role="CLI" %} class="button button_medium">Сделать клиентом</a>
                <a href={% url 'userChangeRole' user_id=user.id role="MAN" %} class="button button_medium">Сделать менеджером</a>
            {% elif user.role == 'CLI' %}
                <a href={% url 'userChangeRole' user_id=user.id role="MAN" %} class="button button_medium">Сделать менеджером</a>
                <a href={% url 'userChangeRole' user_id=user.id role="ADM" %} class="button button_large">Сделать администратором</a>
            {% elif user.role == 'MAN' %}
                <a href={% url 'userChangeRole' user_id=user.id role="CLI" %} class="button button_medium">Сделать клиентом</a>
                <a href={% url 'userChangeRole' user_id=user.id role="ADM" %} class="button button_large">Сделать администратором</a>
            {% endif %}
        {% endif %}
            
    </div>
</div>