
$black-text-color: #000000;
$blue-important_hover-color: #4C34E4;
$blue-dark-color: #4C438A;;
$blue-white-color: #bbb5e0; 
$gray-section-color: #F1F3FF;
$white-color: #FFFFFF;
$gray-dark-color: #646464;
$gray-white-color: #C0C0C0;;
$button-default-color: #272727;
$button-pressed-color: #593FFF;
$error-color: #C93558;
$accept-color:#218963;
$create-color:#ff9800;
$paid-color: #5b32a3;

$transition-section-dropDown: 0.5s;
$transition-question-dropDown: 0.7s;
$transition-question_mark-dropDown: 0.8s;

