{% extends '../../layouts/default.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static 'styles/pages/detailPages/detailPages.css' %}>
    {% if object.comments.all|length != 0 %}
        <link rel="stylesheet" href={% static 'styles/components/Comments/Comments.css' %}>
    {% endif %}
    {% if object.price or addCommentform %}
        <link rel="stylesheet" href={% static "styles/UI/Input/Input.css" %}>
        <link rel="stylesheet" href={% static "styles/UI/Button/Button.css" %}>
    {% endif %}
    {% if addCommentform %}
        <link rel="stylesheet" href={% static "styles/UI/TextArea/TextArea.css" %}>
    {% endif %}
        
{% endblock %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <section class="detail-page">
        <div class="container">
            {% include "../../components/DetailBlock/DetailBlock.html" with object=object inCart=inCart %}
            {% if addCommentform %}
                <div class="detail-page-post">
                    {% include "../../UI/Forms/Form.html" with form=addCommentform %}
                </div>
            {% endif %}
            {% if object.comments %}
                {% if object.comments.all|length != 0 %}
                    {% include "../../components/Comments/Comments.html" with comments=object.comments.all %}
                {% endif %}
            {% endif %}                
        </div>
    </section>
{% endblock %}


{% block scripts %}
    {% if object.price %}
        <script type='module' src={% static 'interface/setSplits.js' %}></script>
    {% endif %}
{% endblock scripts %}
    