
<div class="cart-item">
    {% if item.photo %}
        <img src={{item.photo.url}} alt="photo {{item.title}}">
    {% endif %}
    <div class="cart-item-wrapper">
        <div class="cart-item-wrapper__title">Название:</div>
        <div class="cart-item__title">{{item.title}}</div>
    </div>
    <div class="cart-item-wrapper">
        <div class="cart-item-wrapper__title">Цена:</div>
        <div class="cart-item__price">
            <span data-number_split>{{item.price}}</span> ₽
        </div>
    </div>
    <a href={% url 'removeCart' item.id %} class="button button_small button_border">
        Удалить
    </a>
    
</div>