{% extends '../../layouts/default.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static "styles/components/Cards/Cards.css" %}>
    <link rel="stylesheet" href={% static "styles/UI/Button/Button.css" %}>
    <link rel="stylesheet" href={% static "styles/UI/Select/Select.css" %}>
    <link rel="stylesheet" href={% static "styles/UI/Input/Input.css" %}>
    <link rel="stylesheet" href={% static "styles/UI/Filters/Filters.css" %}>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include "../../components/CardsSection/CardsSection.html" with list=services title='Услуги' cardType='services' %}
{% endblock %}

{% block scripts %}
    <script type="module" src={% static "interface/setSplits.js" %}></script>
{% endblock %}