{% extends '../../layouts/default.html' %}


{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static "styles/pages/contactsPage/contactsPage.css" %}>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section class="contacts">
        <div class="container">
            <h1 class="title title_contacts">Контактные данные</h1>
            <div class="contacts-map">
                <h2 class="title title_contacts-map">Адрес организации: {{contacts.adress}}</h2>
                <div class="contacts-map__block">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8713eedf9a66630180ed7dc0624624d039375abf93651d2e4de92f492f3919c2&amp;width=100%25&amp;height=446&amp;lang=ru_RU&amp;scroll=false"></script>
                </div>
            </div>
            <div class="contacts-phones">
                <h2 class="title title_contacts-phones">Телефоны:</h2>
                <ul class="contacts-items">
                   {% for item in contacts.phones %}
                        <li class="contacts-item">
                            <div class="contacts-item__title">{{item.role}}</div>
                            <div class="contacts-item__wrapper">
                                <div class="contacts-item__name">{{item.name}}</div>
                                {% include "../../UI/Phone/Phone.html" with phone=item.phone %}
                            </div>
                        </li>
                   {% endfor %}
                </ul>
            </div>
            <div class="contacts-developer">
                <h2 class="title title_contacts-develeper">Разработчик:</h2>
                <ul class="contacts-items">
                    <li class="contacts-item">
                        Компания {{contacts.developer.company}}
                    </li>
                    <li class="contacts-item">
                        {{contacts.developer.name}} ({{contacts.developer.tag}})
                    </li>
                    <li class="contacts-item">
                        {% for item in contacts.developer.description %}
                            <span>{{item}}</span>
                        {% endfor %}
                    </li>
                    <li class="contacts-item">
                        {% for key, item in contacts.developer.contacts.items %}
                            {% if key == 'email' %}
                                <a href="mailto:{{item.link}}">
                                    <img src={% static item.image %} alt="{{key}}">
                                </a>
                            {% else %}
                                <a href={{item.link}} target="_blank" rel="nofollow">
                                    <img src={% static item.image %} alt="{{key}}">
                                </a>
                            {% endif %}
                        {% endfor %}    
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}